/* body {
  background-color: #D9E5FF;
} */

p.img2{
  margin : 0 auto ;
}

.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/

  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
  clear:both;
  height:50px;
  width: 100%;
  background-color: #89c7de;
  color: #fff;
  text-align: center;
  font-size:0.85em;
  /* padding-top:30px; */

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  display:block;
}
